<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./script.js"></script>
  </head>
  <body>
    <span id="events"></span>
    <div id="map" style="width: 100vw; height: 90vh;"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4plWu7x5XXE7t0CJRF0RFRDoinPxNOlI&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>